<% layout('layout', { title: 'Events' }) %>
<h2>Wedding Weekend Schedule</h2>
<ul>
  <li>Welcome Party - Friday 6pm</li>
  <li>Ceremony - Saturday 4pm</li>
  <li>Reception - Saturday 6pm</li>
  <li>Brunch - Sunday 11am</li>
</ul>
