<h2 class="page-heading">RSVP</h2>
<form class="rsvp-form" action="/rsvp" method="post">
  <label>
    Name: <input type="text" name="name" required>
  </label>
  <label>
    Email: <input type="email" name="email" required>
  </label>
  <label>
    Will you attend? 
    <select name="attending">
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </label>
  <button type="submit">Submit</button>
</form>
